# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environments
.venv/
venv/
env/
.env/

# Jupyter
.ipynb_checkpoints/

# Jupyter Book build output
docs/_build/
_build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/